@import "./headings.css";
@import "./menu.css";
@import "./layout.css";

* {
    font-family: "Barlow", sans-serif;
}

html {
    background-color: rgb(255, 205, 68);
    padding: 1rem;
}

body {
    background: radial-gradient(white, rgb(255, 241, 189), rgb(255, 205, 68))
        no-repeat;

    height: 100%;
    max-width: 100%;

    padding: 2rem;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
