nav a {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 217, 0);
    text-shadow: 1px 1px 1px rgb(172, 155, 0);
    padding: 2rem 2.5rem;
    position: relative;
}

nav a:hover {
    color: rgb(0, 0, 0);
    /* text-shadow: 1px 1px 1px rgb(96, 86, 0); */
}

nav a:hover::before {
    display: block;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

nav a::before {
    content: "";
    background-color: #ffd9005d;
    width: 100%;
    position: absolute;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    animation: a_background_animation 0.4s;
    -webkit-transform-origin-x: 0%;
    border-bottom: solid 2px rgb(255, 217, 0);
    border-radius: 15px;
}

@keyframes a_background_animation {
    0% {
        transform: scaleX(0%);
    }

    100% {
        transform: scaleX(100%);
    }
}
